homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 0
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Europe/Brussels
  # Customization file
  customize: !include customize.yaml

history:

recorder:

# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
# http:
#   base_url: example.duckdns.org:8123

# Discover some devices automatically
discovery:

system_health:

# Example configuration.yaml entry
pi_hole:
  host: 'localhost:4865'
  ssl: false
  verify_ssl: false

#ISS position on map
#binary_sensor:
#  - platform: iss
#camera:
#  - platform: generic
#    name: ISS
#    still_image_url: http://staticmap.openstreetmap.de/staticmap.php?center={{ states.binary_sensor.iss.attributes.lat }},{{ states.binary_sensor.iss.attributes.long }}&zoom=4&size=865x512&maptype=mapnik&markers={{ states.binary_sensor.iss.attributes.lat }},{{ states.binary_sensor.iss.attributes.long }},lightblue
#    limit_refetch_to_url_change: true

influxdb:
  host: a0d7b954-influxdb
  port: 8086
  database: hhassio
  username: hhassio
  password: !secret red_secret
  max_retries: 3
  default_measurement: state

# Sensors
sensor: !include sensors.yaml

#SSL config
http:
  #api_password: !secret red_secret
  base_url: https://hhassio.duckdns.org:8123
  ssl_certificate: /ssl/fullchain.pem
  ssl_key: /ssl/privkey.pem

websocket_api:


#Air quality
air_quality:
  - platform: opensensemap
    station_id: 5956cb5e94f052001123dc65
    name: Air Quality


# Text to speech
tts:
  - platform: google_translate

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
